<style>
    table {
        width: 100%;
        font-size: 6px;
    }
    thead th{
        font-weight: bold;
        padding: 6px 0;
        background: #e5e5e5;
    }
    header strong {
        text-align:center;
        margin:0px auto;
        font-size:12px;
        color:white;
        font-family:"ufonts com perpetua 2";
        display:inline-block;
    }
    thead tc { text-align: center }

    thead th:first-of-type { padding-left: 8px }

    thead th:last-of-type {
        text-align: right;
        padding-right: 8px;
    }

    tbody tr th{ padding-left: 8px }

    tbody tr td:last-of-type, tbody tr td:last-of-type {
        text-align: right;
        padding-right: 8px;
    }

    tbody tr:nth-of-type(even) th, tbody tr:nth-of-type(even) td{ background: #eee }

    tbody th, tbody td{
        padding-top: 6px;
        padding-bottom: 6px;
        background: #fff;
    }

    tbody td { text-align: center }

    td {
        text-align: right;
        font-size: 4px;
        font-weight: bold;
        background: #e5e5e5;
        padding: 6px 8px;
    }

    #footer {
        border-top: 1px solid #dddddd;
        font-size: 4px;
        font-weight: bold;
    }
</style>
<dl class="companyname">
    <dt class="invoice-number">Company Name :<strong>{{company.name}}</strong><dt>
</dl>
<table>
        <thead>
        <tr>
            <th>S.No.:</th>
            <th>Invoice No.</th>
            <th>Date</th>
            <th> Name && Address</th>
            <th>Particulars</th>
            <th>Unit Size (Measure) </th>
            <th>Quantity </th>
            <th>Rate (&#8377;)</th>
            <th>VAT Amount</th>
            <th>Total Amount (&#8377;)</th>
        </tr>
        </thead>
        <tbody>
    {{#each products}}
    <tr>

    {{#each products}}
<td>1</td>
       <!-- <td>{{#invoiceNumber ../paymentOptionType unitPrice}}{{/invoiceNumber}}</td>-->
        <td>{{../orderNumber}}</td>
        <td>{{../orderType}}</td>
        <td>{{inventory.product.name}}</td>
        <td>{{inventory.unitSize}} ( {{inventory.unitMeasure}} )</td>
        <td>{{numberOfUnits}}</td>
        <td>{{unitPrice}}</td>
        <td>{{#total numberOfUnits unitPrice}}{{/total}}</td>
    </tr>
        {{/each}}
    {{/each}}
        </tbody>
</table>

