<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Dear {{name}},</p>
	<p>
		Welcome to the Beta version of our {{appName}}. As we are in Beta version, we are allowing few number of
		customers to access nVipani with restricted features. We will let you know shortly about the general
		availability of nVipani. Keep in touch with us at info@nvipani.com
	</p>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br> Best Regards,
		<p>
			The {{appName}} Support Team
		</p>
</body>
</html>
